.circle {
    position: relative;
  }
  
  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .progress-value {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
  }
  